@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f72b;
    color: #F5F5F7;
    font-weight: 600;
    height: 100vh;
    background: linear-gradient(70deg,  #030547 ,#030545, #03063D 200%);

    background-image: linear-gradient(65deg, #6d4bf33a, #ff00ff48, #fea90044, #ff00ff42, #6d4bf33f);
    background-size: 300%;
    background-position: left;
    -webkit-animation: bg-gradient 10s linear infinite alternate;
    animation: bg-gradient 10s linear infinite alternate;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90%; /* modify here to make it responsive */
    max-width: 31.25rem !important; /* modify here */
    min-width: 17.5rem; /* modify here */
    max-width: 90%;
    min-width: 30rem;
    background-color: #2c2c5fc2;
    border-radius: 0.625rem;
    align-items: center;
}


@media only screen and (max-width: 600px) {
  form {
    width: 90%; /* You might want to adjust this value */
    min-width: auto; /* reset to auto */
  }
  .container {
    padding: 0 10px; /* add some padding on smaller screens */
  }
  .input-field, .password-field {
    position: relative;
    width: 100%; /* to make it full width on small screens */
    margin: 0.5rem 0;
  }
}

form h2 {
    margin-bottom: 1rem;
    color: #F5F5F7;
}

form input, form button {
    width: 80%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 0.625rem;
}

.input-field {
    position: relative;
    width: 80%;
    margin: 0.5rem 0;
  }
  
.input-field input {
    width: 100%;
    box-sizing: border-box;
  }


#email-validity {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

#forgot-password {
    width: 80%;
    padding: 0.2rem;
    text-align: right;
    border: none;
    background: none;
    color: #F5F5F7;
    cursor: pointer;
    margin-bottom: 1rem;
}


#toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #040630;
}

.password-field {
    position: relative; 
    width: 80%;
    margin: 0.5rem 0;
}

.password-field input[type="password"] {
    width: 100%; /* New */
    box-sizing: border-box; /* New */
}

#toggle-password {
    position: absolute; 
    margin-right: 1rem;
    right: -10px; /* Adjust as needed */
    transform: translateY(-75%) translateX(42%); 
    background: none;
    border: none;
    cursor: pointer;
    color: #040630;
}
.error-message {
    color: #F08686; /* #FA4141;*/
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
}




.separator {
    border: none;
    height: 1px;
    background-color: #d9d9d9;
    width: 80%;
    margin: 0.5rem 0;
}

form button, form input[type="submit"], form input[type="button"] {
    color: #F5F5F7;
    background-color: #C427FA;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover, form input[type="submit"]:hover, form input[type="button"]:hover {
    background-color: #D042FF;
}

@keyframes bg-gradient {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}
/* ____________ Loading Spinner _______________ START */
.loading-spinner {
    display: none;
    border: 1rem solid rgba(243, 243, 243, 0.686);
    border-top: 1rem solid #FB32B3;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it sits over other items */
    display: none;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* ____________ Loading Spinner _______________ END */
/* ____________ Toast _______________ START */
#toast {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
  }
  
  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
/* ____________ Toast _______________ END */


  #google-signin-btn {
    border: 0.2rem solid white;
    position: relative;
    height: 45px; /* Adjust this based on your needs */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

  }
  
  #google-signin-btn::before {
    content: '';
    position: absolute;
    left: 0.4rem;
    width: 2rem; /* Adjust based on your logo's aspect ratio */
    height: 2rem; /* Adjust based on your logo's aspect ratio */
    background: url('images/colored/google.svg') no-repeat left center transparent;
  }