@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;600;700;900&display=swap');

* {
    box-sizing: border-box;
    /* Preventing text selecting on the entire application */
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Chrome, Safari and Opera syntax */
    -moz-user-select: none; /* Firefox syntax */
    -ms-user-select: none; /* IE 10+ syntax */
}
/* Will enalbe it throught using  <div class="selectable"> this text is selectable </div>*/
.selectable {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
  }

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222F3E; /* Dark background, similar to Rekordbox */
    color: #F5F5F7; /* Light text color for better contrast on dark background */
    overflow: hidden; /* Disable dragging the page by mistake*/

    
}

html{
    font-size:14px;
}

    
h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0.2rem 0;
    color: #F5F5F7; /* Instagram pink color for heading */
}   

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.3rem 0;
    color: #F5F5F7; /* Instagram pink color for heading */
}
 
.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%; /* Use 100% width as default for smaller devices */
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1.25rem;
    overflow: hidden;
    background: linear-gradient(70deg,  #030547 ,#030545, #03063D 200%);
    background-size: 400%;
}

/* For larger screens */
@media (min-width: 45rem) {
  .container {
    max-width: 45rem; /* Limit the maximum width for larger devices */
  }
}


.tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 3px;
    background-color: purple;
    color: white;
    white-space: nowrap;
}
/* _______________________ Graph 2d selector ___________________ Start*/
.graph {
    position: relative;
    width: 100%;
    height: 12rem;
    background-color: #282944;
    border-radius: 0.625rem;
    background: linear-gradient(45deg, #712AC8 ,#C63BFB, #FA74D7);
}


canvas {
    display: block;
    width: 100%;
    height: 100%;
}



/* _______________________ Song List ___________________ Start*/
.song-list {
    width: 100%;
    max-width: 100%;
    height: 100%; /* Corresponding to 3 elements (each has 1 rem padding, and 0.5 rem margin*/
    overflow-y: auto;

}
.song-title {
    font-size: 1rem;
    font-weight: 600;
    font-weight: bold;
    margin-bottom: 0.1rem;
    overflow: hidden;
}

.song-artist {
    font-size: 0.784rem;
    font-weight: 300; /* Light/thin weight */
}

.song-rating {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 100; /* Light/thin weight */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.song-count {
    position: relative;

    text-align: center;
    margin-top: 1rem;
    color: #F5F5F7;
}

 /* _______________________ List Item ___________________ Start*/
li {
    background-color: rgba(255, 255, 255, 0.1); /* Light background with low opacity */
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.31rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-content, .tags {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


li:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Slightly increase opacity on hover */
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 2rem - 1rem); /* Deducting the width and margin of the copy button */
}

.song-title {
    text-shadow: #fff;
}
.song-tags {
    display: flex; /* Add this line */
    flex-wrap: wrap; /* Add this line */
    justify-content: start; /* Add this line */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.31rem;
    gap: 0.4rem;
}

.tag {
    margin: 0.2rem;  /* Adjust this to manage the margin of individual tag */
    border: 2px solid #8639DB;
    border-radius: 0.31rem;
    padding: 0.2rem 0.45rem;
    white-space: nowrap; /* Prevents the text inside the tag from wrapping to the next line */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Display ellipsis when the text overflows */
}

/* _____________________________ Results count and sorting _______________________ START */
#filter-sorting-switch-container {
    /* background: linear-gradient(#79427B #BDAFC2, #79427B) !important; */
    background: linear-gradient(40deg,#03042F ,#03042E) !important;
    border-radius: 1.2rem;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#song-count-display,
#sorting-criteria-display
{    
    flex: 1;
    text-align: center;
    z-index: 3;
    transition: color 0.3s ease, font-weight 0.3s ease;

}


.highlight {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 2%;
    width: 48%;  
    height: 80%;
    align-items: center;
    background: radial-gradient(#282944 ,#33345b) !important;
    transition: transform 0.3s ease;
    border-radius: 0.7rem;
    z-index:1; 
}






/* Separator grows when the song-count-container is hovered */

/* Applying gradient on click/tap */
#song-count-display:active, #song-count-display:focus,
#sorting-criteria-display:active, #sorting-criteria-display:focus {
    transform: scale(1.2) rotate(2deg);
    transition: transform 0.2s ease;
    background: linear-gradient(#B145AC ,#FD92C0, #B145AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* _____________________________ Results count and sorting _______________________ END */



/* ______________________________ Advanced Filters section (BPM & KEY)_______________________________ START */

.highlight-advanced {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 2%;
  width: 48%;  
  height: 80%;
  align-items: center;
  background: radial-gradient(#282944 ,#33345b) !important;
  transition: transform 0.3s ease;
  border-radius: 0.7rem;
  z-index:0; 
}


#bpm-key-switch-container{
  background: linear-gradient(40deg,#03042F ,#03042E) !important;
  border-radius: 1.2rem;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#key-display-summary,
#bpm-display-summary
{   
    transition: color 0.3s ease, font-weight 0.3s ease;
    flex: 1;
    text-align: center;
    z-index: 3;
}


/* Applying gradient on click/tap */
#bpm-display-summary:active, #bpm-display-summary:focus,
#key-display-summary:active, #key-display-summary:focus {
    transform: scale(1.2) rotate(2deg);
    transition: transform 0.2s ease;
    background: linear-gradient(#B145AC ,#FD92C0, #B145AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.advanced-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bpm-range, #key-range {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1rem;
}

#bpm-display-summary,
#key-display-summary {   
    transition: color 0.3s ease, font-weight 0.3s ease;
    flex: 1;
    text-align: center;
    z-index: 2;  /* Increase z-index value */
    padding-bottom: 0.3rem; /* Add some padding to center the line */
}


/* _____________________ Toggle ActiveAdvancedFilter On Off _______________ Start*/

#toggle-switch {
  position: absolute;
  left: 2rem; /* adjusted from right to left */
  top: 2.5rem; /* set the top offset */
  width: 3.75rem; /* 60px to rem */
  height: 2.125rem; /* 34px to rem */
  background: #563063;
  border-radius: 2.125rem; /* 34px to rem */
}


#toggle-switch::before {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 1.875rem;
  height: 1.875rem;
  background: #F5F5F7;
  border-radius: 50%;
  transition: 0.2s;  /* make sure the circle slides */
}

#toggle-switch.activated::before {
  transform: translateX(1.875rem);
}

#toggle-switch.deactivated::before {
  transform: translateX(0rem);
  
}

#toggle-switch.activated {
  /* Use a color gradient when the toggle is activated */
  background: linear-gradient(20deg, #712AC8 ,#C63BFB);
}

#toggle-switch.deactivated {
  background: #33345b;
}
/*
/* _____________________ Toggle ActiveAdvancedFilter On Off _______________End */


/* ______________________________ Advanced Filters section (BPM & KEY)_______________________________ END */







/*________________________ FilterTags - Passed __________________ 18May ___________ START */
#tags-filtering-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tag-catalog{
    width: 100%;
}

#active-tags {
    display: flex;
    justify-content: flex-start; /* Change from space-between to flex-start */
    padding: 0.5rem;
    background: linear-gradient(#030545, #03063D 200%);
    color: #F5F5F7;
    border-radius: 0.625rem;
    flex-wrap: wrap; /* Add this line to wrap the tags and button if they don't fit on one line */
}

.active-filter-tag {
    margin: 0.2rem;  /* Adjust this to manage the margin of individual tag */
    align-self: flex-start; /* Add this line to prevent stretching */
    border-radius: 1.2rem !important;
    background: linear-gradient(20deg, #712AC8 ,#C63BFB);
    padding: 0.3rem 0.9rem !important;
    white-space: nowrap; /* Prevents the text inside the tag from wrapping to the next line */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Display ellipsis when the text overflows */
    
}


.categories-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0.5rem 0;
    /* margin-bottom: 1rem; */

}

.category-tab {
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #cccccc;
    transition: color 0.3s ease;
}

.category-tab.active {
    color: #ffffff;
    font-size: 105%;
    font-weight: 900;  /* adjust this as needed */
    border-bottom: 1px solid #ffffff; /* acts as underline */
    padding-bottom: 0.3rem;  /* adjusts distance of underline from text */
}


.filter-tag {
            /* top | right | bottom | left */
    margin: 0rem 0.2rem 0.6rem 0.2rem; /* Adjust top and bottom margin to manage the distance between rows */
    border-radius: 1.2rem !important;
    background-color: #323E5C;
    color: #ffffff;
    padding: 0.3rem 0.9rem !important;
    white-space: nowrap; /* Prevents the text inside the tag from wrapping to the next line */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Display ellipsis when the text overflows */
}

.active-in-catalog {
    background: linear-gradient(20deg, #712AC8 ,#C63BFB);
}
.tags-container{
    display: flex;
    align-items: flex-start; /* Align child elements to the top */
    align-content: flex-start; /* Align rows to the top */
    flex-wrap: wrap;
    padding: 0.5rem;
    background: linear-gradient(40deg, #2B2445 ,#412A56, #563063, #79427B);

    color: #F5F5F7;
    height: 10rem;
    border-radius: 0.625rem;
    overflow-y: auto;
}
/* _______ Animation for tags _________ Start */
.filter-tag, .active-filter-tag {
    /* Other styles... */
    transition: transform 0.3s ease, background-color 0.3s ease;
    
}

.filter-tag:hover, .active-filter-tag:hover {
    transform: scale(1.05);
    background-color: #A142D6; /* A slightly different purple color */
}

.filter-tag:active, .active-filter-tag:active {
    transform: rotate(20deg);
}
.category-tab {
    /* Other styles... */
    transition: transform 0.3s ease, color 0.3s ease;
}

.category-tab:hover {
    color: #F5F5F7; /* A slightly different purple color */
}


/* _______ Animation for tags _________ Finish */

/*________________________ FilterTags - Passed __________________ 18May ___________ END */


/* _______________________ Copy BTN ___________________ Start*/
/* Add your custom button styles */
.copy-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.copy-button {
    width: 2rem !important;
    height: 100%;  /* Added this line */
    display: flex;
    justify-content: center;
    align-items: center;  /* Center the image vertically */
    background: linear-gradient(20deg, #AA32F8 ,#C23DF2, #B142CD);
    border: none;
    border-radius: 0.31rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 1rem !important;

    padding-top: 0.27rem;
    padding-bottom: 0.2rem;
}

.copy-button:hover {
    background-color: #EE00FF;
    transform: scale(1.2);
}

.copy-icon {  /* Added this class to style the image */
    width: 1rem;  /* Set the size of the image */
    height: auto;  /* Maintain the aspect ratio of the image */
}

.song-details .copy-button {
    margin-left: 1rem;
}
/* _______________________ Toast ___________________ Start*/
.toast {
    position: absolute;  /* change from fixed to absolute */
    top: 2rem;
    left: 10%;  /* change from 50% to 10% */
    transform: none;  /* remove transform property */
    width: 80%;
    background: linear-gradient(270deg, #800080, #E60073);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.71rem;
    font-size: 1rem;
    opacity: 1;
    transition: opacity 1s ease;
    animation: fadeInDown 0.5s ease forwards;
    text-align: center;
    z-index: 9999;
}

.toast.fade-out {
    opacity: 0;
}


/* _______________________ WAVEFORM ___________________ Start*/
.song-details .waveform-container {
    padding-bottom: 1rem;
    height: 3.5rem;
    width: 100%;
    overflow: hidden;
}

.song-details .waveform {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 6.25rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.31rem;
    margin-bottom: 1rem;
}

.song-details .waveform-bar {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.5);
    
}

/* _______________ BPM SLIDERS___________________ START */


#slider-container {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 2rem;
  /* border: 0.5rem solid #803780; */
  box-sizing: border-box;
  width: 25rem;
  height: 9rem;
}

.slider-range {
  position: relative;
  background-color: #9b9bac !important;
  width: 80%;
  height: 0.6rem;
  border-radius: 4rem;
}

.slider-active-range {
  position: absolute;
  height: 100%;
  background: linear-gradient(20deg, #B145AC ,#FD92C0, #B145AC);
}

.slider-thumb {
  touch-action: none;
  position: absolute;
  background: radial-gradient(#EB5CE4, #D545F6);
  border: solid 0.2rem #fff !important;
  border-radius: 50%;
  height: 2rem !important;
  width: 2rem !important;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.data-thumb {
  position: absolute;
  background: linear-gradient(20deg, #AA32F8 ,#C23DF2, #B142CD);
  padding: 0.4rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f5f5f7;
  bottom: 100%;
  margin-bottom: 1.4rem;
  border-radius: 4rem;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem; /* adjust this value to fit your needs */
}

#slider-value {
  color: #f5f5f7;
  flex-grow: 1;
  text-align: left ;
}

.range-value-container {
  flex-grow: 2;
  text-align: right;
}

#range-value {
  color: #ffffff !important;
}


/* _______ Animation for BPMs _________ Start */

.slider-thumb {
    /* Your previous styles */
    transition: transform 0.3s ease; /* Add this line */
    z-index: 999;
    touch-action: none;

  }
  
  .slider-thumb:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }
  .slider-thumb:active {
    transform: translateX(-50%) scale(1.2);

  }


  .data-thumb {
    /* Your previous styles */
    transition: transform 0.3s ease; /* Add this line */
  }
  
  .data-thumb:hover {
    transform: translateX(-50%) scale(1.05);
  }
  
  .data-thumb:active {
    transform: translateX(-50%) scale(0.95);
  }
  



/* _______ Animation for BPMs _________ Finish */

/* ______________ BPM State collapsedState ________ Start*/
#bpm-range {
    /* add this to your existing styles */
    overflow: hidden; 
    transition: height 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

  .data-thumb.collapsed #collapsed-content::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


.data-thumb.collapsed #expand-arrow::before {
    display: none;
}


#expand-arrow {
    width: 1.2rem; /* adjust as needed */
    height: 1.2rem; /* adjust as needed */
    content: '';
    border: solid #B145AC;
    border-width: 0 5px 5px 0; /* Increased font opacity*/
    display: inline-block;
    padding: 0.5rem; /* Increased padding */
    position: absolute;
    top: 2.5rem;
    right: -1rem; /* adjust as needed */
    right: 3rem;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    /* transform: translateY(-50%); */
}

/* #expand-arrow:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
} */
/* ______________ BPM State collapsedState ________ End */


/* _______________ BPM SLIDERS___________________ END */
/* Add keyframes for a fade-in-up animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 2rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -2rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}




/* ________________________________________________________________________________*/
/* ________________________________________________________________________________*/
/* ________________________________________________________________________________*/
/* _________________________________Key Slider_____________________________________*/
/* ________________________________________________________________________________*/
/* ________________________________________________________________________________*/



/* _______________ KEY SLIDERS___________________ START */


#key-slider-container {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 2rem;
    /* border: 0.5rem solid #803780; */
    box-sizing: border-box;
    width: 25rem;
    height: 9rem;
  }
  
  .key-slider-range {
    position: relative;
    background-color: #9b9bac !important;
    width: 80%;
    height: 0.6rem;
    border-radius: 4rem;
  }
  
  .key-slider-active-range {
    position: absolute;
    height: 100%;
    background: linear-gradient(20deg, #B145AC ,#FD92C0, #B145AC);
  }
  
  .key-slider-thumb {
    touch-action: none;
    position: absolute;
    background: radial-gradient(#EB5CE4, #D545F6);
    border: solid 0.2rem #fff !important;
    border-radius: 50%;
    height: 2rem !important;
    width: 2rem !important;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .key-data-thumb {
    position: absolute;
    background: linear-gradient(20deg, #AA32F8 ,#C23DF2, #B142CD);
    padding: 0.4rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f5f5f7;
    bottom: 100%;
    margin-bottom: 1.4rem;
    border-radius: 4rem;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem; /* adjust this value to fit your needs */
  }
  
  #key-slider-value {
    color: #f5f5f7;
    flex-grow: 1;
    text-align: left ;
  }
  
  .key-range-value-container {
    flex-grow: 2;
    text-align: right;
  }
  

  
  /* _______ Animation for KEYs Slider _________ Start */
  
  .key-slider-thumb {
      /* Your previous styles */
      transition: transform 0.3s ease; /* Add this line */
      z-index: 999;
      touch-action: none;
  
    }
    
    .key-slider-thumb:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
    .key-slider-thumb:active {
      transform: translateX(-50%) scale(1.2);
  
    }
  
  
    .key-data-thumb {
      /* Your previous styles */
      transition: transform 0.3s ease; /* Add this line */
    }
    
    .key-data-thumb:hover {
      transform: translateX(-50%) scale(1.05);
    }
    
    .key-data-thumb:active {
      transform: translateX(-50%) scale(0.95);
    }
    
  
  
  
  /* _______ Animation for KEYs _________ Finish */
  
  /* ______________ KEY State collapsedState ________ Start*/
  #key-range {
      /* add this to your existing styles */
      overflow: hidden; 
      transition: height 0.3s ease-in-out; 
  }
  
    .key-data-thumb.collapsed #collapsed-content::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  
  
  .key-data-thumb.collapsed #expand-arrow::before {
      display: none;
  }
  

  /* #expand-arrow:hover {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
  } */
  /* ______________ BPM State collapsedState ________ End */






  /*
Learning:
Starting with a hash (#) - ID selector:
Starting with a dot (.) - Class selector:
Starting with nothing: selector targets all h2 elements (For example)


*/
/* for it to work better, let's add a div around the key-display-summary and around bpm-display-summary. The green lines will go inside each of the divs in it's bottom.

It's important - so the structure should be:

div (bpm-key-switch-container)
- div (highlight-advanced)
- div (bpm-left-container)
- - p(bpm-display-summary)
- - div(left-light-indicator)
- div (key-right-container)
- - p(key-display-summary)
- - div(right-light-indicator)


Also show me the css if needed. */